body {
    background-color: cadetblue;
}

.login {
    width: 25%;
    margin: auto;
}

.login-screen {
    background-color: white;
    margin: 10%;
    padding: 10%;
    border-radius: 5px;
}

.login-title {
    font-family: shabnam;
    text-align: center;
    color: #777777;
}

.login-username {
    padding: 2%;
    text-align: center;
}

.login-field {
    width: 100%;
    height: 2%;
    margin-top: 10%;
    text-align: right;
    background-color: #ecf0f1;
    border: transparent;
}

.login-field:focus {
    border: 2px solid blue;
}

.login-btn {
    text-align: center;
    margin-top: 10px;
}

.btn {
    font-family: shabnam;
    width: 50%;
    background-color: #3498d8;
    color: white;
    border-radius: 5px;
    border: transparent;
}

.btn:hover {
    background-color: rgb(3, 85, 85);
}